
header {

}

body{
    background-color: black;
}

h1  {
    margin-top: 50px;
    text-align: center;
    color: white;
}

.navContainer {
    width: 100%;
}

ul {
    width: 1200px;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}


li {
    list-style-type: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
}


.mainContainer {

}


svg {
    margin-left: 25%;
    width: 50%;
    opacity: 1;
    clip-path:url(#SVGpath);
    position: absolute;
    bottom: 0;

}

svg path:hover{
    opacity: 0.5;
}


