body {
    background-image: url("theme.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;

}

#welcome {

    text-align: center;
    margin-left: 39%;
    position: absolute;
    z-index: 1;
    padding: 1%;
    background-color: red;
    width: 20%;
    font-size: larger;
    font-weight: bold;
    border-radius: 50px;

}

#lvlselect {


}
#lvlselect ul {
    position: absolute;
    z-index: 1;
    list-style: none;
    margin-top: 200px;
    margin-left: 44%;

}

#lvlselect ul li {

    font-weight: bold;
    font-size: xx-large;
    background-color: red;
    width: 100px;
    text-align: center;
    margin-top: 15px;
    padding: 20px;
    border-radius: 20px 5px;

}


#lvlselect ul li:hover {

    background-color: darkred;


}

#lvlselect ul li a {

    color: black;

}
a {
    text-decoration: none;
}
.header h1 a {
    color: white;
}




#lose {

    background-color: red;
    width: 50%;
    height: 200px;
    margin: 0% 25%;
    z-index: 1;
    position: absolute;
    visibility: hidden;

}
#win {

    background-color: #30ce29;
    width: 50%;
    height: 200px;
    margin: 0% 25%;
    z-index: 2;
    position: absolute;
    visibility: hidden;



}

.h2{

    font-size: xx-large;
    padding: 2% 40%;
    font-family: Algerian;
}

#newgame {

    background-color: black;
    color: white;

    width: 12%;
    padding: 1%;
    margin: 0% 42%;
}


.header {
    text-align: center;
    padding: 10px;
    color:white;

}

.main {
    width: 600px;
    height: 550px;
    border: 1px solid grey;
    background-color:darkgrey;
    overflow: hidden;
    position: absolute;
    left:34%;
    z-index: 3;
    border-radius: 10px;


}

#start{
    position: absolute;
    top: 500px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 4;
}

#startbutton{
    background-color: red;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    width: 20%;
}

#curs {
    cursor: url('gman1.png') 25 15, auto;
}

svg {
    opacity: 1;
    clip-path:url(#SVGpath);

    /*-webkit-animation: move 20s linear forwards;
    -moz-animation: move 20s linear forwards;
    -ms-animation: move 20s linear forwards;
    animation: move 20s linear forwards;*/

    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: ease-in;
    animation-play-state: paused;

}

svg path:hover{
    opacity: 0.5;
}
#Lager_2:hover {
    opacity: 1;
}

.object:hover {
    opacity: 0;
}

@keyframes move {
    0% {
        -webkit-transform: translateY(-1800px);
        transform: translateY(-1800px);
    }
    100%  {
        -webkit-transform: translateY(0);
        transform: translate(0);
    }
}
@-webkit-keyframes move {
    0% {
        -webkit-transform: translateY(-1800px);
        transform: translateY(-1800px);
    }
    100%  {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

